{% extends "pages/page.html" %}
{% load mezzanine_tags i18n staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "less/praybook/style.less" %}" type="text/less"/>
{% endblock %}

{% block main %}
    {% editable page.memberpage.text %}
        <div id="memberpage-page">
            {{ page.memberpage.text|safe }}
        </div>
    {% endeditable %}

    {% if created %}
        <h2>Cadastro realizado com sucesso!</h2>
        <p>Obrigado por se cadastrar</p>
    {% else %}
        <form action="" id="form-members" class="form-horizontal row" enctype="multipart/form-data" method="post">


            <div class="span6">
                <h2>Dados Pessoais</h2>
                {% fields_for personal_form %}
                {% fields_for spiritual_form %}
            </div>
            <div class="span6">
                <h2>Endereço</h2>
                {% fields_for address_form %}
                <h2>Escolaridade</h2>
                {% fields_for school_form %}

                <div class="form-actions">
                    <button class="btn btn-inverse">Salvar</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}