{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{#{% block title %}{% trans "Home" %}{% endblock %}#}

{#{% block extra_header %}#}
{#    <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x94ce6d091f2c02dd%3A0x29ae105156d685ff!2sIgreja+Evang%C3%A9lica+Assembl%C3%A9ia+de+Deus+de+Vila+Tavares+-+Rua+S%C3%A3o+Caetano%2C+Ribeir%C3%A3o+Pires+-+S%C3%A3o+Paulo%2C+Brasil!5e0!3m2!1spt-BR!2s!4v1386983129461" width="100%" height="250" frameborder="0"></iframe>#}
{#{% endblock %}#}

{# Remove breadcrub of Home #}
{% block breadcrumb %}{% endblock %}

{% block main %}
    <div class="row-fluid">
        <div class="span6">
            <h2>Últimos Posts</h2>

            {% for post in posts %}
                <section>
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    <h4>
                        Postado por
                        <a href="{% url "blog_post_list_author" author %}">
                            {{ post.user.get_full_name|default:author.username }}
                        </a>
                    </h4>
                    <p>{{ post.description }}</p>
                    <hr/>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}
