{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{# Remove breadcrub of Home #}
{% block breadcrumb %}{% endblock %}

{% block main %}
    <div class="row-fluid">
        <div class="span6">
            <h2>Últimos Posts</h2>
            posts {{ blogposts }}
            {% for post in blogposts %}
                <section>
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    <h4>
                        Postado por
                        <a href="{% url "blog_post_list_author" author %}">
                            {{ post.user.get_full_name|default:author.username }}
                        </a>
                    </h4>
                    <p>{{ post.description }}</p>
                    <hr/>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}
